<% @posts.each do |x| %>
  <div class="white">
    <%= image_tag x.image.url(:medium)%>
    <br>
    <br>
    <p><%= x.description %></p>
    <%= link_to 'Edit', post_path(@posts), method: :put %> |
    <%= link_to 'Delete', post_path(@posts), method: :delete %>
    <br>
    <br>
    <br>

<%end%>
